<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h2>Welcome to Linker</h2>
    <p>Linker is a URL shortener and QR code generator.</p>

    <div class="terminal">
        <div id="output" class="output"></div> <!-- Main output zone for all prompts and results -->
        <input id="input" class="cli-input" type="text" autofocus autocomplete="off" placeholder="Type a command...">
    </div>
    <script src="../static/js/script.js" defer></script>
</body>
</html>
